* {
    box-sizing: border-box;
    // border: 1px solid blue !important; 
}
html {
    font-size: 62.5%;
}
html, body {
    // font-family: 'Archivo', sans-serif;
    

    // font-family: 'Nunito', sans-serif;

    // font-family: 'Exo 2', sans-serif;

    // font-family: 'Concert One', cursive;


}
h1, h2, h3, h4, h5 {
    //font-family: 'Indie Flower', cursive;
}
h1 {
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    // font-family: 'Archivo', sans-serif;
}
h2 {
    font-size: 3.2rem;
    // font-family: 'Archivo Narrow', sans-serif;
}
h4 {
    font-size: 1.7rem;
    font-family: 'Exo 2', sans-serif;
    // font-family: 'Concert One', cursive;
    // font-family: 'Nunito', sans-serif;
    // padding-bottom: 10px;
}
p {
    // line-height: 1.5;
    font-size: 1.6rem;
    // padding-bottom: 10px;
}
img {
    max-width: 100%;
    height: auto;
}
 