.hero-content {
    background-image: url(/img/hero.jpg);  
    .hero-img {
        width: 375px;  
    }
}






// header {
//     .displayFlex(flex, center, center);
//     // background-color: coral;
// }
//  /* The animation code */
//  @keyframes example {
//     0%   {background-color: dodgerblue;}
//     25%  {background-color:@cerulean;}
//     50%  {background-color: @blue;}
//     100% {background-color: @darkBlue;}
//   }
  
//   /* The element to apply the animation to */
//   .main-container {
//     width: 100%;
//     height: 100vh;
//     background-color: @blue;
//     animation-name: example;
//     animation-duration: 4s;
//     .top-section {
//         .displayFlex(column, flex-end, center);
//         .box1 {
//             width: 100%;
//             height: 11%;
//             background-color: white;
//         }
//         .box2 {
//             width: 100%;
//             height: 11%;
//             background-color: dodgerblue;
//         }
//         .box3 {
//             width: 100%;
//             height: 11%;
//             background-color: @cerulean;
//         }
//         .box4 {
//             width: 100%;
//             height: 11%;
//             background-color: @darkBlue;
//         }
//     }
//     .bottom-section {
//         .displayFlex(column, flex-end, center);
//         .box1 {
//             width: 100%;
//             height: 11%;
//             background-color: white;
//         }
//         .box2 {
//             width: 100%;
//             height: 11%;
//             background-color: dodgerblue;
//         }
//         .box3 {
//             width: 100%;
//             height: 11%;
//             background-color: @cerulean;
//         }
//         .box4 {
//             width: 100%;
//             height: 11%;
//             background-color: @darkBlue;
//         }
//     }
//   } 