//colors
@moon: #dbe6e0;
@battleship: #d0d2c4;
@policeStrobe: #0bb5ff;
@diamondBlue: #0ebfe9;
@blueJeans: #42526c;
@midnightBlue: #191970;


// @blue: #093edc;
// @darkBlue: #05237d;
// @cerulean: #2a52be;